@tailwind base;

@layer base {
  .header {
    @apply flex justify-between drop-shadow-sm bg-white px-4 py-1;
  }
  .header > div {
    @apply gap-x-1;
  }
  .header .link {
    @apply flex items-center text-xs bg-white hover:bg-gray-100 p-2 rounded;
  }
  .header .link svg {
    @apply h-5 mr-1;
  }

  /* main :not(.prose) h1 {
    @apply text-xl mb-4;
  }
  main :not(.prose) h2 {
    @apply text-lg font-bold mb-2 mt-4;
  }*/
  main :not(.prose) h3 {
    @apply font-bold mb-0 mt-2;
  }
  /*
  main :not(.prose) p {
    @apply mb-2;
  }
  main p > a {
    @apply text-blue-800 hover:text-blue-600;
  } */

  .vartable-container {
    min-width: 800px;
  }

  .text-xxs {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }

  .footer {
    @apply px-4 py-2 bg-gray-900 text-gray-400 text-xs flex flex-col gap-y-1;
  }
  .footer a {
    @apply text-blue-400 hover:text-blue-300;
  }

  .app-table {
    @apply text-sm;
  }
  .app-table table {
    @apply divide-y divide-gray-200 w-full table-fixed;
  }
  .app-table table th,
  .app-table table td {
    @apply text-left px-2 py-1;
    vertical-align: top;
  }
  .app-table table tbody {
    @apply bg-white divide-y divide-gray-200;
  }
  .app-table tr.clickable {
    @apply cursor-pointer hover:bg-gray-50 text-xs;
  }
  .app-table tr td {
    @apply overflow-ellipsis whitespace-nowrap overflow-hidden;
  }
  .app-table tr td div {
    @apply overflow-ellipsis whitespace-nowrap overflow-hidden;
  }

  .blur-xs {
    --tw-blur: blur(1px);
    filter: var(--tw-filter);
  }
}
